// Place all the styles related to the Question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question_title {
  font-size: 25px;
  float: left;
  padding-right: 20px;
}
#question_body {
  font-size: 25px;
  float: left;

}
#link_show {
  padding-left: 10%;
  font-size: 25px;
  float: left;
  padding-right: 10px;
}
#link_edit {
  font-size: 25px;
  float: left;
  padding-right: 10px;
}
#link_destroy_answer {
  font-size: 25px;
  padding-right: 10px;
  float: left;
}
#question_user {
  font-size: 25px;
  text-align: center;
}
.new_question_create {
  display: none;
}